#mediaLibraryFolder {
    width: 235px;
}

.tabPadding {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.smallFont {
    font-size: 11px;
}

.smallishFont {
    font-size: 13px;
}

body {
    /*width: 1400px;*/
    /*height: 1000px;*/
    height: 100%;
}

.bangContainer {
    width: 1400px;
}

.bangPageContainer {
    display: flex;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.playlist-flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap li {
    /*background: gold;*/
}

.mediaLibraryDiv {
    flex: 2;
    overflow-y: scroll;
    float: left;
    width: 300px;
}

.playlistDiv {
    flex: 8;
    overflow-y: scroll;
}


.mediaLibraryThumbDiv {
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    width: 110px;
    height:130px;
    min-width: 110px;
    max-height: 130px;
    background: #f2f2f2;
}


.mediaLibraryThumbLbl {
    font-size: 8pt;
    text-align: center;
    overflow: hidden;
    width: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 2px;
}

.mediaLibraryThumbImg {
    width: 108px;
    height: 108px;
    padding: 4px;
}


